<% provide(:page_title,'All polls') %>
<% provide(:polls_active,'active') %>
<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table class = "tresponsive">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @topics.each do |topic| %>
    <tr class = "info">
    <td class="spacing"><%= link_to topic.title, topic %></td>
      <td class="spacing"><%= pluralize(topic.votes_count, "vote") %></td>
      <td class="spacing-button">
          <%= button_to  upvote_topic_path(topic), class: 'btn btn-success btn-sm btn-collapsible',  method: :post do %>
          <i class="glyphicon glyphicon-plus"></i> Upvote         
          <% end %>
      </td>
      <td class="spacing-button">
          <%= button_to  downvote_topic_path(topic), class: 'btn btn-danger btn-sm btn-collapsible',  method: :post do %>
          <i class="glyphicon glyphicon-minus"></i> Downvote         
          <% end %>
      </td class="spacing">
      <td class="spacing"><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
